# Visual Studio
.vs/
*.suo
*.user
*.log

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Packages
packages/
*.nupkg
*.snupkg

# Rider
.idea/

# Dotnet Tooling
.config/
.tool/

# Temporary files
*.tmp
*.[Tt]mp

# misc
*.bak
*.orig
*.[Ww][Ee][Bb]

# VS Code
.vscode/

# Environment
.env
.env.*

# etc
.claude
domain.md
plan.md
prd.md
CLAUDE.md
nul
test.md
분석.md
functional.md
non-functional.md
./backend/Api/.env.example
